RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

DirectoryIndex index.php index.html index.htm index2.html



ErrorDocument 403 https://patient.epizy.com/

ErrorDocument 404 https://patient.epizy.com/

ErrorDocument 500 https://patient.epizy.com/